* {
    line-height: 60px;
    background-color: #C9EFDD;
}

body {
    font-family: "Times New Roman", sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-align: center
}

h2 {
    color:#2AA36B;   
}

h1 {
    color:#730AA1;
}

h1,
h2,
i {
    background-color: #EDB43E;
}

img {
    width: 768px;
    height: auto;
    filter: drop-shadow(10px 10px 10px black);
}

